.section__addNotes {
  width: 100%;
  height: 100%;
  padding: 5rem 20rem;
  display: flex;
  flex-direction: column;
  @include responsive(phone) {
    padding: 5.8rem 1.6rem;
  }
  h1 {
    text-transform: capitalize;
  }
  form {
    display: flex;
    flex-direction: column;
    margin-top: 3.6rem;
    // width: 100%;
    // max-width: 100%;

    label {
      color: var(--color-light-gray02);
      position: relative;
      margin-bottom: 0.5rem;
    }
    input[type="text"],
    textarea {
      border: none;
      outline: none;
      padding: 1rem;
      background-color: var(--color-light-gray04);
      width: 50rem;
      max-width: 100%;
      margin-bottom: 3.9rem;
      border-radius: 0.7rem;
      -webkit-border-radius: 0.7rem;
      -moz-border-radius: 0.7rem;
      -ms-border-radius: 0.7rem;
      -o-border-radius: 0.7rem;
    }
    input[type="text"] {
      height: 4.5rem;
    }

    textarea {
      resize: vertical;
      height: 15rem;
    }
    .submit {
      display: flex;
      align-items: center;
      gap: 2.7rem;
      @include responsive(phone) {
        justify-content: space-between;
      }
      .add__button {
        cursor: pointer;
        border: none;
        outline: none;
        padding: 1rem 2.2rem;
        height: 5rem;
        background-color: var(--color-light-accent);
        color: var(--color-light-white);
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
        &:hover {
          background-color: var(--color-light-hover);
        }
      }
    }
    label.error + input[type="text"],
    label.error + textarea {
      border: 0.1rem solid var(--color-light-error);
      background-color: rgb(249, 191, 191);
    }
    label.error::after {
      content: "Please Fill this field ";
      position: absolute;
      top: -0.5rem;
      right: 0;
      width: fit-content;
      padding: 0.5rem;
      box-sizing: border-box;
      color: var(--color-light-error);
    }
  }
}
